</body>
<footer class="site-footer">
    <div class="container">
      <div class="row">
            <div class="col-xs-6 col-md-3 col-lg-3">
                    <h6>Contact</h6>
                    <ul class="footer-links">
                      <li class="mr-3444"><i class="fa fa-envelope mr-3" style="font-size:24px"></i>Email</li>    
                        <br>
                      <li class="mr-3444"><i class="fa fa-phone mr-3" style="font-size:24px"></i>Phone Number</li>
                    </ul>
                  </div>

        <div class="col-xs-6 col-md-3 col-lg-3">
          <h6>Services</h6>
          <ul class="footer-links">
            <li><a href="#">Birthday</a></li>
            <li><a href="#">Wedding</a></li>
            <li><a href="#">Cocktail Party</a></li>
            <li><a href="#">Ring Ceremony</a></li>
            <li><a href="#">Mehndi/Sangeet</a></li>
            <li><a href="#">Corporate Events</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3 col-lg-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="/">Home</a></li>
            <li><a href="/services">Sevices</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/photos">Photo Gallery</a></li>
            <li><a href="/contactus">Contact Us</a></li>           
          </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
                <h6>About</h6>
                <p class="text-justify">Something about company</p>
              </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="whatsapp" href="#"><i class="fa fa-whatsapp"></i></a></li> 
            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>  
          </ul>
        </div>
      </div>
    </div>
</footer>
</html>