<%- include("partials/header"); -%>

<link rel="stylesheet" href="/css/servi_all.css">
<img src="/images/cocktail_party.jpg">
    <div class="container">
      <div class="row" style="margin: 50px 0">
        <h1>Cocktail Party</h1>      
      </div>
      <div class="row" style="margin: 50px 0">
         <h5>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</h5>      
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <h1>What We Have Done</h1>
        </div>

        <div class="col-lg-8 col-md-8 col-xs-6 thumb">
            <a href="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"  class="fancybox" rel="ligthbox">
                <img  src="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid"  alt="">
            </a>
        </div>
        
        <div class="col-lg-4 col-md-4 col-xs-6 thumb">
            <a href="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                <img  src="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
               
            </a>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-6 thumb">
            <a href="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                <img  src="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
            </a>
        </div>
        
        <div class="col-lg-4 col-md-4 col-xs-6 thumb">
            <a href="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                <img  src="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-6 thumb">
          <a href="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
              <img  src="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
          </a>
      </div>

   </div>
   
<br>
<br>
<div id="demo" class="container carousel slide" data-ride="carousel">
  <h1>Other Services</h1>
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="row">
            <div class="col">
              <img src="/images/birthday.jpg" class="servi" alt="1 slide">
              <h5>Birthday</h5>
            </div>
            <div class="col">
              <img src="/images/cocktail_party.jpg" class="servi" alt="2 slide">
              <h5>Cocktail Party</h5>
            </div>
            <div class="col">
              <img src="/images/Indian_wedding.jpg" class="servi" alt="3 slide">
              <h5>Wedding</h5>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="row">
            <div class="col">
              <img src="/images/mehndi.jpg" class="servi" alt="1 slide">
              <h5>Mehndi/Sangeet</h5>
            </div>
            <div class="col">
              <img src="/images/ring_ceremony.jpg" class="servi" alt="2 slide">
              <h5>Ring Ceremony</h5>
            </div>
            <div class="col">
              <img src="/images/coporate_party.jpg" class="servi" alt="3 slide">
              <h5>Corporate Events</h5>
            </div>
        </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
<br>
<br>

    </div>
<%- include("partials/footer"); -%>