<%- include("partials/header"); -%>

    <div class="container">
      <div class="row" style="margin: 50px 0">
        <h1>Services</h1>      
      </div>
      <div class="row" style="margin: 50px 0">
        <div class="margn col-lg-3 col-md-4 col-sm-6">
          <img class="servi" src="/images/Indian_wedding.jpg">
          <h4>Wedding</h4>
        </div>
        <div class="margn col-lg-3 col-md-4 col-sm-6">
            <img class="servi" src="/images/ring_ceremony.jpg">
            <h4>Ring Ceremony</h4>
        </div>
        <div class="margn col-lg-3 col-md-4 col-sm-6">
              <img class="servi" src="/images/mehndi.jpg">
              <h4>Mehndi/Sangeet</h4>
        </div>
        <div class="margn col-lg-3 col-md-4 col-sm-6">
                <img class="servi" src="/images/cocktail_party.jpg">
                <h4>Cocktail Parties</h4>
        </div>
        <div class="margn col-lg-3 col-md-4 col-sm-6">
          <img class="servi" src="/images/coporate_party.jpg">
          <h4>Corporate Events</h4>
        </div>
        <div class="margn col-lg-3 col-md-4 col-sm-6">
            <img class="servi" src="/images/birthday.jpg">
            <h4>Birthday/Anniversary</h4>
        </div>

    </div>
<%- include("partials/footer"); -%>